@charset "utf-8";
body {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #7D1B15;
	background-image: url(images/TXS-bkg-logo-lt-2.png);
}
h1, h2, h3 {
	margin: 0;
	color: #B2261E;
	text-align: left;
}
img {
	border: none;
}
.wrap2 {
	background-color: #7D1B15;
	background-image: url(images/shadow-rd-bot.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 847px;
	margin: 20px auto;
	padding-bottom: 7px;
}
.wrap {
	width: 847px;
	background-image: url(images/shadow-rd-top.gif);
	background-repeat: no-repeat;
	position: top right;
}
#container {
	width: 847px;
	margin: 0 auto;
	text-align: left;
	background-image: url(images/shadow-rd-mid.gif);
	background-repeat: repeat-y;
	background-position: right top;
	background-color: #fff;
}
#header {
	padding: 10px;
	font-style: italic;
}
#header h1 {
	margin: 15px 0 0 0;
	font-size: 26px;
	text-align: center;
}
#header h2 {
	font-size: 22px;
	color: #2C3329;
	text-align: center;
	line-height: 150%;
}
h3 {
	font-size: 18px;
}
a {
	color: #666;
}
a:link, a:visited {
	color: #B2261E;
}
a:hover {
	color: #161616;
	text-decoration: none;
}
li {
	line-height: 160%;
}
#header .logo {
	float: left;
	border: none;
}
#header .contact {
	float: right;
	font-size: 18px;
	text-transform: none;
}
#header .phone {
	font-size: 24px;
	color: #B2261E;
}
#header .nationwide {
	margin: 0px 10px 0;
	line-height: 130%;
	font-size: 18px;
	text-transform: uppercase;
}
#nav {
	height: 36px;
 	background-color: #2C3329; 
    width: 840px;
}
#nav ul {
	margin: 0;
	padding: 6px 20px 8px 0;
	list-style-type: none;
	float: left;
}
#nav ul li {
	float: left;
	line-height: 120%;
}
#nav li a:link, #nav li a:visited {
	text-decoration: none;
	color: #CCC;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	padding: 2px 20px;
	border: 1px dashed #23C3329; /* keeps the list item from jumping when de-selected */
}
#nav li a:hover {
	color: #D90000;
}
#nav li a.current, #nav li a.current:visited, #nav li a.current:active {
	color: #D90000;
	border: 1px dashed #D90000;
}
#mainContent {
	padding: 20px 20px 0 20px;
}
#mainContent p {
	line-height: 150%;
}
#mainContent .callus {
	font-style: italic;
	font-weight: bold;
}
#mainContent .imgright {
	float: right;
	margin-left: 15px;
}
#mainContent .indent {
	margin-left: 20px;
}
#mainContent .heavy {
	font-weight: bold;
}
#slideshow {
	float: right;
	width: 385px;
	margin-left: 15px;
	background-image: url(images/trucker-calling-bk.jpg);
	background-repeat: no-repeat;
}
#mailing {
	float: right;
	width: 360px;
}
#mailing .sm-logo {
	margin-right: 10px;
}

#locations p {
	line-height: normal;
	font-size: 12px;
	text-align: justify;
}
#locations .boldred {
	color: #B3221F;
	font-weight: bold;
}

#footer {
	padding: 0 17px 0 10px;
}
#footer p {
	margin: 0; 
	padding: 10px 0; 
}
#copyright {
	margin: 0;
}
#copyright p {
	font-size: 10px;
	margin: 0;
	text-align: left;
}
#copyright a:link, #copyright a:visited {
	color: #000;
}
#copyright a:hover {
	color: #333;
	text-decoration: none;
}
#copyright .hosting {
	float: right;
}

.clearfloat {
	clear: both;
}
#footer hr, hr {
	margin: 0px;
	color: #B3221D;
	background-color: #B3221D;
	border: none;
	height: 2px; /* for safari */
}

#mainContent .redtext {
	color: #B2261E;
}
#mainContent h3 .subhead {
	font-size: 12px;
	color: black;
	font-variant: normal;
	font-style: italic;
}
#header h2 .serving {
	font-size: 18px;
}
.boldred {
	font-weight: bold;
	color: #B2261E;
}
#map {
	text-align: center;
}
#mainContent .servphoto {
	float: right;
	margin-left: 5px;
}
#mainContent .servbul {
	padding-left: 20px;
}
#mainContent .servbul li {

}
.img-shadow-lt {
  	float:left;
	background: url(images/shadow.png) no-repeat bottom right !important;
 	background: url(images/shadow.gif) no-repeat bottom right;
	margin: 10px 10px 0 10px !important;
	margin: 10px 10px 0 5px;
}

.img-shadow-lt img {
	display: block;
	position: relative;
	margin: -6px 6px 6px -6px;
} 

.img-shadow-rt {
	float:right;
	background: url(images/shadow.png) no-repeat bottom right !important;
	background: url(images/shadow.gif) no-repeat bottom right;
	margin: 10px 10px 0 10px!important;
	margin: 10px 10px 0 5px;
}

.img-shadow-rt img {
	display: block;
	position: relative;
	margin: -6px 6px 6px -6px;
} 

/* form styles */

#mainContent form {
	margin: 0 auto;
}
form fieldset {
	background-color: #EBEBEB;
	margin: 20px auto 20px auto;
	border: 1px solid #B2261E;
	padding: 0 10px 10px;
}
form p {
	font-size: 10px;
	margin: 10px 0;
}
form .note {
	font-size: 12px;
	font-style: italic;
	color: #000;
}
form legend {
	padding: 2px 10px;
	color: #B2261E;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
	border: 1px solid #b2261e;
	font-weight: bold;
	background-color: #fff;
}
form legend.frmNeedPark {
	margin-left: 230px;
}
form legend.frmHavePark {
	margin-left: 400px;
}
form label {
	margin-right: 0px;
	margin-left: 0px;
}
form label .top {
	display: block;
}
label.indent {
	margin-left: 30px;
}

fieldset .text {
	margin: 10px 0 10px 0;
}
form #comments, form #comments2 {
	margin: 10px 0 0 0;
	width: 700px;
	height: 120px;
}
form #yaddr {
	margin-left: 10px;
}
.button {
	border: 1px solid #B6231C;
	margin: 0 0 20px 11px;
	font-size: 16px;
	font-weight: bold;
	color: #B1241B;
	padding: 5px 9px;
	background-color: #EBEBEB;
}
.button:hover {
	background-color: #fff;
}
.imgleft {
	float: left;
}
#morecontacts {
	padding: 20px 0;
}
#morecontacts table td {
	vertical-align: top;
}
.cname {
	font-weight: bold;
}
.presmsg {
	font-style: italic;
	font-weight: bold;
}
